body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    text-align: center;

}
.container{
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: ;
}