body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    text-align: center;

}
.container{
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
label{
    display: block;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button{
    margin-top: 15px;
    padding: 10px;
}